@import "variables.scss";

.iconTextRow {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin: 0;
}

.iconText {
    color: $accent-color !important;
    font-size: min(3.1vw, 20px) !important;
    margin: 10px;
    margin-left: 10px;
}
