#profileImg {
    width: 35%;
    display: block;
    margin: auto;
    border-radius: 50%;
    align-self: center;
}

.showcaseRow {
    display: flex;
}

.showcaseItem {
    flex: 33%;
    padding: 5px;
    &--large {
        @extend .showcaseItem;
        flex: 100%;
    }
}

.showcaseImage {
    width: 100%;
    vertical-align: top;
    border-radius: 2%;
}