@import "variables.scss";
$showcase-padding: 5px;

#profileImg {
    width: max(30vw, 30vh);
    display: block;
    margin: auto;
    border-radius: 50%;
    align-self: center;
}

.showcaseRow {
    display: flex;
}

.showcaseItem {
    flex: 33%;
    padding: $showcase-padding;
    position: relative;
    &--large {
        @extend .showcaseItem;
        flex: 100%;
    }
    &--single {
        @extend .showcaseItem;
        text-align: center;
    }
}

.showcaseItem:hover .showcaseOverlay {
    opacity: 1;
}

.showcaseImage {
    width: 100%;
    vertical-align: top;
    border-radius: 10px;
    &--single {
        @extend .showcaseImage;
        width: 50%;
        margin: auto;
    }
}

.showcaseOverlay {
    position: absolute;
    top: 5px;
    left: 5px;
    bottom: 0;
    right: 0;
    height: calc(100% - 2 * $showcase-padding);
    width: calc(100% - 2 * $showcase-padding);
    opacity: 0;
    transition: .3s ease;
    border-radius: 10px;
    background-color: $accent-color;
}

.showcaseOverlay p {
    font-family: $roboto-font;
    position: absolute;
    top: calc(50% - 4 * $showcase-padding);
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}