body {
    // Background candidates
    // #0C090D
    // #1E191F

    // Accent color candidates
    // #E01A4F
    // #FF934F
    background-color: #0C090D;
}

p {
    // White flavour
    // #FFFBFE
    color: #FFFBFE;
    font-family:monospace;
    font-size: 2vw;
}

h1 {
    color: #E01A4F;
    font-family:monospace;
    font-size: 5vw;
}