// One dark:
// Dark: #282C34
// Grey: #ABB2BF
// Accent: #E06C75

// Background candidates
// #0C090D
// #1E191F
// #1D191D

// Accent color candidates
// #E01A4F
// #FF934F
// #A7435D

// White flavour
// #FFFBFE

$dark-color: #282C34;

$bright-color: #FFFBFE;
$accent-color: #E06C75;

body {
    background-color: $dark-color;
    overflow: hidden;
    margin: 0;
}

#topBar {
    align-items: center;
    height: 15vh;
}

#titleText {
    text-align: center;
    line-height: 0;
}

#profileImg {
    width: 35%;
    display: block;
    margin: auto;
    border-radius: 50%;
    align-self: center;
}

#content {
    background-color: $bright-color;
    height: 70vh;
    padding: 15vw;
    padding-top: 5vw;
    overflow-y: scroll;
}

p {
    color: $bright-color;
    font-family:monospace;
}

h1 {
    color: $accent-color;
    font-family:monospace;
}

#topBar p {
    color: $accent-color;
    font-size: 1.5vw;
}
#topBar h1 {
    color: $bright-color;
    font-size: 5vw;
}

#content p {
    color: $dark-color;
    font-size: 18px;
}
#content h1 {
    color: $accent-color;
    font-size: 4vw;
}