@import "variables.scss";
// Source: https://www.w3schools.com/howto/howto_css_overlay.asp
.background {
    display: flex;
    justify-content: center;
    position: fixed; /* Sit on top of the page content */
    width: 100%; /* Full width (cover the whole page) */
    height: 100%; /* Full height (cover the whole page) */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.8); /* Black background with opacity */
    z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
    cursor: pointer; /* Add a pointer on hover */
}

.foreground {
    position: absolute;
    margin-top: 5%;
    margin-bottom: 10%;

    width: 75%;
    height: 85%;

    border-radius: 10px;
    background-color: $dark-color;
    z-index: 3;
    overflow-y: scroll;

    cursor: default;
}

.fgContent {
    padding: 5%;
}

.foreground p {
    color: $bright-color !important;
}

.overlayButtonContainer {
    position: fixed;
    z-index: 3;
    width: 100%;
    width: 75%;

    border-radius: 10px;
    background-color: $dark-color;
}