// One dark:
// Dark: #282C34
// Grey: #ABB2BF
// Accent: #E06C75

// Background candidates
// #0C090D
// #1E191F
// #1D191D

// Accent color candidates
// #E01A4F
// #FF934F
// #A7435D

// White flavour
// #FFFBFE

$dark-color: #282C34;
$bright-color: #FFFBFE;
$accent-color: #E06C75;
